* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}
.movie-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.flex.col-center {
    align-items:stretch;
}

.ticket {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
}
.ticket>* {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ticket.optional {
    color: #cecece;
    background-color: #ffffff;
    border: 1px solid #cecece;
    cursor: pointer;
    transition: all 0.3s;
}

.ticket.optional:hover {
    border: 1px solid #00aeff;
}
.ticket-checkbox:checked+.ticket {
    color: #00eb0c;
    background-color: #c8ffae;
    border: 1px solid #00eb0c;
}
.ticket.disable {
    color: red;
    background-color: #ffc2c2;
    border: 1px solid red;
    cursor:not-allowed;
}
.ticket-select-text {
    float: left;
    background-color: #f00056;
    color: #fff;
    border-radius: 2px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    margin: 10px 10px 10px 6px;
    text-align: center;
}
.select-ticket-box{
    width: 180px;
    height: 100px;
    overflow: auto;
    scrollbar-width: thin;
}
.sell-ticket-information {
    margin: 0 120px;
    text-align: center;
}
.tickets-price {
    font-size: 22px;
    font-weight: 600;
    color: #f00056;
}
.ticket.selected {
    background-color: #afe6ff;
    color: #00aeff;
    border: 1px solid #00aeff
}